{{#if resume.skills}}
    <section class="skills-container container-block">
        <h2 class="container-block-title"><i class="fa fa-rocket"></i>Skills</h2>
        <div class="skillset">
            {{#resume.skills}}
                <div class="item">
                    <h3 class="level-title">{{name}}</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="{{skillLevel level}}">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->
            {{/resume.skills}}

        </div>
    </section><!--//skills-section-->
{{/if}}
{{!-- 
{{#if resume.education}}
    <div class="education-container container-block">
        <h2 class="container-block-title">Education</h2>
        {{#resume.education}}
            <div class="item">
                <h4 class="degree">{{award studyType}} in {{area}}</h4>
                <h5 class="meta">{{institution}}</h5>
                <div class="time">{{year startDate}} - {{year endDate}}</div>
            </div><!--//item-->
        {{/resume.education}}
    </div><!--//education-container-->
{{/if}} --}}